@using ArtClubVT.Common
@{
    this.ViewData["Title"] = "Начална страница";
}

<div class="text-center">
    <h1 class="display-4 text-white">Добре дошли в @GlobalConstants.SystemName!</h1>
    <h4 class="text-center text-white">Текуща промоция</h4>
    <a asp-area="" asp-controller="Items" asp-action="GetAll"><img class="img-fluid landing-pic" src="https://previews.123rf.com/images/pattarasin/pattarasin1709/pattarasin170900004/85482188-sale-banner-template-design-big-sale-special-offer-end-of-season-special-offer-banner-vector-illustr.jpg"/></a>
</div>
