@{
    this.ViewData["Title"] = "Privacy Policy for ARTClubVT";
}

<style>
    .site-content {
        height: 100%;
    }
</style>

<div class="privacy-holder">
    <h1>@this.ViewData["Title"]</h1>

    <p>At ARTClubVT, accessible from artclubvt.azurewebsites.net, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by ARTClubVT and how we use it.</p>

    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us. Our Privacy Policy was generated with the help of <a href="https://www.gdprprivacypolicy.net/">GDPR Privacy Policy Generator from GDPRPrivacyPolicy.net</a></p>

    <h2>General Data Protection Regulation (GDPR)</h2>
    <p>For more info contact us at <a href="mailto:artclubvt@gmail.com">artclubvt@gmail.com</a>.</p>

    <p>ARTClubVT legal basis for collecting and using the personal information described in this Privacy Policy depends on the Personal Information we collect and the specific context in which we collect the information:</p>

    
    <p>In certain circumstances, you have the following data protection rights:</p>
    <ul>
        <li>The right to access, update or to delete the information we have on you.</li>
        <li>The right of rectification.</li>
        <li>The right to object.</li>
        <li>The right of restriction.</li>
        <li>The right to data portability</li>
        <li>The right to withdraw consent</li>
    </ul>

    
    <h2>Cookies and Web Beacons</h2>

    <p>Like any other website, ARTClubVT uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

    <p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What Are Cookies"</a>.</p>


    
    <h2>Consent</h2>

    <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
</div>