@model CreateItemViewModel
@{
    this.ViewData["Title"] = "Добавяне на нов продукт";
    var categories = this.Model.Categories.Select(x => new SelectListItem(x.Value, x.Key));
}

<form method="post" class="col-md-6 offset-md-3 text-center reset-margin"
      enctype="multipart/form-data">
    <h1 class="text-white">@this.ViewData["Title"]</h1>
    @*<div asp-validation-summary="All" class="text-danger bg-white"></div>*@
    <div class="form-group">
        <label class="text-white" asp-for="Name">Име</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger bg-white"></span>
    </div>
    <div class="form-group">
        <label class="text-white" asp-for="Description">Описание</label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger bg-white"></span>
    </div>
    <div class="form-group">
        <label class="text-white" asp-for="Size">Размер</label>
        <input asp-for="Size" class="form-control" />
        <span asp-validation-for="Size" class="text-danger bg-white"></span>
    </div>
    <div class="form-group">
        <label class="text-white" asp-for="Material">Материал</label>
        <input asp-for="Material" class="form-control" />
        <span asp-validation-for="Material" class="text-danger bg-white"></span>
    </div>
    <div class="form-group">
        <label class="text-white" asp-for="CategoryId">Категория</label>
        <select asp-for="CategoryId" class="form-control" asp-items="categories"></select>
        <span asp-validation-for="CategoryId" class="text-danger bg-white"></span>
    </div>
    <div class="form-group">
        <label class="text-white" asp-for="Price">Цена</label>
        <input asp-for="Price" type="number" class="form-control" />
        <span asp-validation-for="Price" class="text-danger bg-white"></span>
    </div>
    <div class="form-group">
        <label class="text-white" asp-for="Quantity">Количество</label>
        <input asp-for="Quantity" type="number" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger bg-white"></span>
    </div>
    <input type="submit" class="btn btn-success" value="СЪЗДАЙ"/>
</form>