@{
    this.ViewData["Title"] = "Успешно купихте всичко от кошницата си!";
}
<div class="text-center">
    <h1 class="text-white">@this.ViewData["Title"]</h1>
    <div class="alert alert-success">
        <p>Очаквайте имейл в най-скоро време с подробности за доставката!</p>

        <p>Може да видите всичките си поръчки в секцията <span class="font-italic">Моите поръчки</span> </p>
    </div>
</div>