@{
    this.ViewData["Title"] = "Успешно създадохте поръчка!";
}
<div class="text-center">
    <h1>Успешно създадохте поръчка с Nº @this.ViewBag.OrderId !</h1>
    <div class="alert alert-success">
        <span>Очаквайте имейл в най-скоро време с подробности за доставката!</span>
    </div>
</div>