@{
    this.ViewData["Title"] = "Добавяне на категория";
}
<h1 class="text-center">@this.ViewData["Title"]</h1>
<form method="post">
    <div class="form-group">
        <label for="name" class="form-control text-center">Име на категорията</label>
        <input id="name" name="name" type="text" class="form-control" />
    </div>
    <div class="justify-content-center" style="display: flex">
        <button class="btn btn-success" type="submit">Добави</button>
    </div>

</form>